# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

on:
#  push:
#    branches:
#      - main
  schedule:
    # POSIX cron syntax ("At minute 0 past every 2nd hour."), https://crontab.guru/#0_*/2_*_*_*
    - cron: "0 */2 * * *"

name: "Run"

env:
  PHP_EXTENSIONS: curl, fileinfo, intl, json, openssl, mbstring, simplexml, sodium, zlib

jobs:

  run-bot:
    name: "Run the bot and post to Bluesky"

    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      BLUESKY_HANDLE: ${{ secrets.BLUESKY_HANDLE }}
      BLUESKY_APP_PW: ${{ secrets.BLUESKY_APP_PW }}

    steps:
      - name: "Checkout sources"
        uses: actions/checkout@v4

      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.5"
          extensions: ${{ env.PHP_EXTENSIONS }}
          coverage: none

      - name: "Install dependencies with composer"
        uses: ramsey/composer-install@v3

      - name: "Run bot"
        run: php ./cli/run.php

      - name: "Commit log"
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ":octocat: posted skeet"
          file_pattern: "data/last_updated.json"
          commit_user_name: "github-actions[bot]"
          commit_user_email: "41898282+github-actions[bot]@users.noreply.github.com"
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
